# OS files
.DS_Store
Thumbs.db
*.swp

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm

# Logs
logs
*.log

# Temporary files
tmp/
temp/
.cache/
